.app {
    height: 150vh;
    display: grid;
    grid-template-rows: 1fr 4fr 7fr 6fr 6fr 4fr;
}

.button {
    background-color: #F4CE14;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
    color: #000000;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.app-header {
    margin-right: 5rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header-image {
    height: 90px;
    width: 200px;
    grid-column: 4;
}

.header-nav {
    grid-column: 6 / 13;
    margin-bottom: 2rem;
}

.nav-list {
    margin-top: 2.5rem;
    font-weight: bold;
    list-style: none;
    white-space: nowrap;
    display: flex;
}

.nav-list > li {
    margin-right: .5rem;
    display: inline;
    flex: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

.article-one {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-height: 21rem;
}

.left-panel {
    grid-column: 4 / 7;
    color: #EDEFEE;
    width: 12rem;
}

.left-panel > h1 {
    font-size: 2rem;
    color: #f4ce14;
    margin-bottom: -1rem;
}

.image-right {
    margin-top: 3rem;
    border-radius: 16px;
    grid-column: 9;
    max-height: 310px;
}